#users, #message, #messages, #ui, #overBox, #gameTable{
    display: none;
}

#loginForm{
    max-width: 330px;
    padding: 15px;
    margin: 10% auto 0 auto;
}

#loginError{
  color: #F00;
}

#users{
  list-style: none;
}

#overBox{
    overflow-y: scroll;
    max-height: 300px;
    min-height: 300px;
}

#gameTable, #gameTable .gameCell{
  border: black thin solid;
}

.gameCell{
  min-width: 50px;
  min-height: 50px;
}
